<div class="alert alert-info">La base utilisé est : {{ basepath }}</div>
<h3>Liste des contacts</h3>
{% if contacts|count == 0 %}
<div class="alert alert-info">
    Aucun contact à afficher
</div>
{% else %}
<table class="table table-striped">
    <thead>
    <tr>
        {% for h in contacts[0].important_headers('Im', 'E') %}
        <th>{{ h.name }}</th>
        {% endfor %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for c in contacts %}
    <tr>
        {% for h in c.important_headers('Im', 'E') %}
        <td>
            {% if h.value == "" %}
            <span class="text-muted">-</span>
            {% else %}
            {% if h.__class__.__name__ == "ImageField" %}
            <img width="50px" height="auto" src="data:image/jpg;base64,{{ h.value }}" alt="profil">
            {% else %}
            {{ h.value }}
            {% endif %}
            {% endif %}
        </td>
        {% endfor %}
        <td>
            <a href="/manage/delete/{{ contacts.index(c) }}" class="btn btn-danger"><i
                    class="glyphicon glyphicon-remove"></i></a>
            <a href="/manage/edit/{{ contacts.index(c) }}" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="/manage/exports/{{ contacts.index(c) }}" class="btn btn-warning"><i
                    class="glyphicon glyphicon-download"></i></a>
            <a href="/view/contact/{{ contacts.index(c) }}" class="btn btn-success"><i
                    class="glyphicon glyphicon-eye-open"></i></a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
