<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/manage"><i class="glyphicon glyphicon-home"></i> Accueil</a></li>
            <li><a href="/view/search"><i class="glyphicon glyphicon-search"></i> Recherche</a></li>
            <li><a href="/manage/imports"><i class="glyphicon glyphicon-cloud-upload"></i> Importation</a></li>
            <li><a href="/manage/exports"><i class="glyphicon glyphicon-cloud-download"></i> Exportation</a></li>
            <li><a href="/manage/add"><i class="glyphicon glyphicon-plus"></i> Ajouter un contact</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        {{ content }}
    </div>
</div>
